.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .themeSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggleCheckbox {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggleLabel {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .toggleLabel:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  .toggleCheckbox:checked + .toggleLabel {
    background-color: #2196F3;
  }
  
  .toggleCheckbox:checked + .toggleLabel:before {
    transform: translateX(26px);
  }
  .fork-btn-inner {
    line-height: 1.4em !important;
    background-color: #122142c1 !important;
    padding: 0.25rem 1.1rem !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-color: #ffffff9b !important;
  }
  
  .fork-btn-inner:hover {
    transform: translateY(-2px) !important;
    background-color: #051b49 !important;
    border-color: #ffffff !important;
  }
  .fork-btn-inner::after {
    display: none !important;
  }
  