.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: transparent;
  border-radius: 0.5rem;
  box-shadow: 0 0 7px 3px #0000001a;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 0.25rem;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: border-color var(--transition-duration), box-shadow var(--transition-duration);
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.inputError {
  border-color: var(--error-color);
  /* background-color: #ffe6e6; */
}

.error {
  font-size: 0.875rem;
  color: var(--error-color);
  padding-left: 0.25rem;
}

.button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color var(--transition-duration), transform var(--transition-duration);
}

.button:hover {
  background-color: #388e3c;
  transform: translateY(-2px);
}